.form {
  display: flex;
  justify-content: center;
  // align-items: center;
  max-width: 400px;
  min-height: 550px;
  margin: 50px auto;
  // min-height: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 9px 10px 49px -1px rgba(0,0,0,0.5);

  > .wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 100%;

    .header {
      text-align: center;
      max-height: fit-content;
      .header-title {
        margin: 1rem 0;
        font-size: 2rem;
      }
    }
    .progressBar {
      max-height: fit-content;
      margin-top: 0.2rem;

      .progress {
        height: 0.5rem;
        border: 1px solid gray;
        border-radius: 0;
      }
    }

    .inputFiels {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 1rem;

      .form-control {
        width: 100%;
        border: none;
        border-bottom: 1px solid #000;
        // border-top: 1px solid #000;
        border-radius: 0;
        // margin: 0 10px;
      }

      label {
        //   margin-left: 1rem;
        text-transform: uppercase;
      }
    }

    .formButtons {
      max-height: fit-content;
      display: flex;
      justify-content: space-between;
      padding-right: 0.5rem;
      padding-top: 1.5rem;
      padding-bottom: 1rem;
      padding-left: 0.5rem;
      border-top: 1px solid #000;
    }
  }
}

.label-error {
    color: red;
    // background-color: red;
}